span.cm-css-at {color: #708;}
span.cm-css-unit {color: #281;}
span.cm-css-value {color: #708;}
span.cm-css-identifier {color: black;}
span.cm-css-selector {color: #11B;}
span.cm-css-important {color: #00F;}
span.cm-css-colorcode {color: #299;}
span.cm-css-comment {color: #A70;}
span.cm-css-string {color: #A22;}
